
#include "Shared.xcconfig"

PRODUCT_NAME = GHUnit
ARCHS = $(ARCHS_STANDARD_32_64_BIT)
INSTALL_PATH = @rpath
DYLIB_COMPATIBILITY_VERSION = 0
DYLIB_CURRENT_VERSION = $(GHUNIT_VERSION)
LD_RUNPATH_SEARCH_PATHS = @loader_path/../Frameworks
INFOPLIST_FILE = Info.plist
PRODUCT_NAME = GHUnit
WRAPPER_EXTENSION = framework
GCC_ENABLE_OBJC_GC = supported
MACOSX_DEPLOYMENT_TARGET = 10.7
