
#include "iPhoneSimulator-Debug.xcconfig"

OTHER_LDFLAGS = -all_load -ObjC
INFOPLIST_FILE = Info.plist
PRODUCT_NAME = Tests
GCC_PREFIX_HEADER = Tests_Prefix.pch
GCC_PRECOMPILE_PREFIX_HEADER = YES

//SDKROOT = iphonesimulator4.0
TARGETED_DEVICE_FAMILY = 1,2
//IPHONEOS_DEPLOYMENT_TARGET = 4.0
IPHONEOS_DEPLOYMENT_TARGET = 3.0

ARCHS = $(ARCHS_STANDARD_32_BIT)
ONLY_ACTIVE_ARCH = YES
