#include "Shared.xcconfig"

ZERO_LINK = NO
SDKROOT = iphoneos
IPHONEOS_DEPLOYMENT_TARGET = 3.0
//IPHONEOS_DEPLOYMENT_TARGET = 4.0

// Testing with LLVM
//GCC_VERSION = com.apple.compilers.llvm.clang.1_0

GCC_PRECOMPILE_PREFIX_HEADER = YES
GCC_WARN_64_TO_32_BIT_CONVERSION = YES
ALWAYS_SEARCH_USER_PATHS = NO
OTHER_LDFLAGS = -ObjC

