GHUNIT_VERSION = 0.5.6

GHUNIT_GENERAL_OTHER_CFLAGS = -Wdiv-by-zero -Wbad-function-cast -Wnested-externs -Wold-style-definition

OTHER_CFLAGS = $(inherited) $(GHUNIT_GENERAL_OTHER_CFLAGS)

GCC_TREAT_WARNINGS_AS_ERRORS = NO // TODO(gabe): Fix warning

CURRENT_PROJECT_VERSION = ${GHUNIT_VERSION}

// Static libs can be included in bundles so make them position independent
GCC_DYNAMIC_NO_PIC = NO

// Static libs should not have their internal globals or external symbols stripped.
STRIP_STYLE = debugging

PRODUCT_NAME = GHUnit
